body{
    font-family: '07ロゴたいぷゴシック7';
    src: url(https://github.com/Hyz-sui/nextstage-commands/blob/main/%E3%83%AD%E3%82%B4%E3%81%9F%E3%81%84%E3%81%B7%E3%82%B4%E3%82%B7%E3%83%83%E3%82%AF.otf?raw=true);
}
.content{
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    color: blueviolet;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 3px dashed gray;
}
h2{
    color: rgb(255, 0, 119);
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 2px dashed gray;
}
.bold{
    font-weight: bold;
}
.indent1{
    margin-left: 2em;
}
.command{
    font-family: monospace;
    background-color: #e9e9e9;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
ul{
    list-style: square;
}
li{
    margin-bottom: 10px;
}